/* Style the navigation bar */
.all-browsers{
  margin: 10px;
  padding: 25px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
  /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
/* Style the search form */
.search-form {
    float: right;
    margin-top: 8px;
}


/* Style the input field */
.search-form input[type="text"] {
    padding: 6px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
}
  /* Style the search button */
.search-form button {
    padding: 6px 10px ;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 
  /* Change the color of button on hover */
.search-form button:hover {
    background-color: #45a049;
}

  /* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;

}



/* star form hear  */

/* name header */


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


h1, h2, h3 {
  margin: 0;
}

.hrushi_khillari {
  font-size: 100px;
  font-weight:800; 

}

section {
  padding: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

.project {
  margin-bottom: 15px;
}

.project h3 {
  margin-bottom: 5px;
}



/* -----------------Dark mode on off  */




/* ---------------- dark */















body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000000; /* Black background color */
  color: #ffffff; /* White text color */
}

.wordpad-container {
  max-width: 1000px; /* Adjust width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #000000; /* Black background color */
}

.wordpad-container h1 {
  font-size: 24px; /* WordPad-like heading font size */
  margin-bottom: 20px; /* WordPad-like spacing between heading and paragraphs */
}

.wordpad-container p {
  font-size: 16px; /* WordPad-like paragraph font size */
  line-height: 1.6; /* WordPad-like line height */
}
































/* end frome hear - footer   */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  margin: 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: inline-block;
  margin: 0 5px;
}

.social-icons img {
  width: 30px; /* Adjust size as needed */
  height: auto;
}



































